body {
    padding-top: 220px;
    width: 100%;
    height: 100%;
    
}

/* Estilo base da seção */
section {
    padding: 3rem 10%;
    border: 1px solid blue;
}

/* Título principal */
.project-heringer-title {
    margin-bottom: 2rem;
    background-color: #2D2926;
}

.project-heringer-title h2 {
    font-size: 3.5rem;
    margin-left: 1rem;
    color: #f2555a;
    text-align: center;
    padding-bottom: 80px; 
    background-color: #2D2926; /* Cor vermelha adicionada */
}

/* Container principal */
.project-heringer-sec1 {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

/* Conteúdo de texto */
.project-heringer-content {
    flex: 1;
    min-width: 300px;
    padding: 1rem;
}

.project-heringer-content h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #d9d9d6;  /* Cor cinza adicionada */
}

.project-heringer-content p {
    line-height: 1.6;
    color: #d9d9d6;  /* Cor cinza adicionada */
}

/* Imagem */
.project-heringer-image {
    flex: 1;
    min-width: 300px;
    padding: 1rem;
}

.project-heringer-image img {
    width: 100%;
    height: auto;
    display: block;
}


/* Parte rosa do site */
.project-content-rosa{
    background-color: #f2555a;
}

/* Container de imagens */
.project-heringer-sec2 {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

/* Fim da parte rosa */

/*--------------------------------------------------*/

/*Container imagem texto */
.project-heringer-section-imgtext {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap-reverse;
    border: 2px solid palegreen;
}

.project-heringer-image-left{
    max-width: 606px;
    max-height: 607px;
}

/* Conteúdo de texto */
.project-heringer-content-reverse {
    flex: 1;
    min-width: 300px;
    padding: 5% 15%;/*ajuste dimensão texto*/
    text-align: justify;
    border: 1px solid red;
}

.project-heringer-content-reverse h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #d9d9d6;  
}

.project-heringer-content-reverse p {
    line-height: 1.6;
    color: #d9d9d6;  
}

/* Imagem */
.project-heringer-image-center {
    display: flex;
    max-width: 100%;
    height: auto;
    border: 2px solid red;
    padding: 1rem;
    justify-content: center;
}


/* Parte vinho do site */

.project-content-vinho{
    background-color: #912f46;
}

/* Estilo do texto */
.project-heringer-textcenter {
    text-align: center;
    color: #d9d9d6; 
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border: 2px solid white;
}

.project-heringer-p-textcenter {
    text-align: center;
    display: flex;
    justify-content: center;
    color: #d9d9d6; 
    line-height: 1.6;
    padding: 2% 35%;
    border: 2px solid white;
}

/* Container das três imagens */
.project-heringer-image-triple {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
    flex-wrap: wrap;
    border: 2px solid white;
}

/* Revisar tags abaixo */


.project-heringer-image {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
}


.project-heringer-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
