<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Angra 3D Studio 2.0</title>
        <meta charset="UTF-8">
        <meta name="description" content="Estúdio de Visualização Arquitetônica | ArchViz | CGI | Fotorrealismo">
        <link rel="canonical" href="https://angra3dstudio.com.br">
        <meta name="keywords" content="3D, Fotorrealismo, CGI, ArchViz, Projetos Arquitetônicos, Angra, Angra 3D Studio, Unreal Engine, Blender, 3DS MAX">
        <meta property="og:title" content="Angra 3D Studio - Projetos Arquitetônicos Foto Realistas">
        <meta property="og:description" content="Angra 3D Studio">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/projeto-mancave.css">
        <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicon32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon16x16.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../assets/images/favicon180x180.png">
    </head>
    <body>
        <header class="header">
            <img src="../assets/images/logo.svg" alt="Logo" class="logo">
            <div class="menu-btn">
                <div class="menu-btn__burger"></div>
            </div>
        </header>
        <nav class="fullscreen-menu">
            <span class="close-btn">&times;</span>
            <ul>
                <li><a href="../views/index.html">Home</a></li>
                <li><a href="../views/sobre.html">Sobre</a></li>
                <li><a href="../views/projetos.html">Galeria</a></li>
                <li><a href="../views/servicos.html">Serviços</a></li>
            </ul>
        </nav>
        <main>
            <section><!-- imagem texto -->
                <div class="project-mancave-title">
                    <h2>Man Cave</h2>
                </div>
                <div class="project-mancave-section-imgtext">
                    <div class="project-mancave-image-right">
                        <img src="../assets/images/projects/projects-single/project-mancave/project-mancave-image-01.avif" alt="Projeto Man Cave - Interior Design Project">
                    </div>
                    <div class="project-mancave-content-reverse"><!-- imagem texto -->
                        <h3>Mais que uma garagem, um refúgio.<br><br></h3>
                        <p>
                            A Man Cave não é apenas uma garagem, é um santuário para os amantes de carros e mecânica. Aqui, a paixão pelo automobilismo e a praticidade se encontram em um espaço único e personalizado.
                        </p>
                        <br>
                        <p>
                            O Coração do espaço é um impressionante Chevrolet Opala azul completamente restaurado. Este clássico é o destaque do espaço, simbolizando a paixão e a dedicação ao automobilismo. O carro ocupa um lugar de honra na garagem, onde todos que entram podem admirar sua beleza e condição impecável. As luzes do galpão realçam as linhas e o brilho da pintura azul, criando um efeito visual deslumbrante. Um verdadeiro ícone que transforma a garagem em um verdadeiro templo para os entusiastas de carros, onde a nostalgia e a modernidade se encontram para criar o ambiente perfeito.
                        </p>
                    </div>
                </div>
            </section>
            <section><!-- imagem dupla -->
                <div class="project-mancave-imgdupla">
                    <div class="project-mancave-image-dupla">
                        <img src="../assets/images/projects/projects-single/project-mancave/project-mancave-image-02.avif" alt="Projeto Man Cave - Interior Design Project">
                    </div>
                    <div class="project-mancave-image-dupla">
                        <img src="../assets/images/projects/projects-single/project-mancave/project-mancave-image-03.avif" alt="Projeto Man Cave - Interior Design Project">
                    </div>
                </div>
            </section>
            <section class="project-content-rosa"><!-- rosa texto imagem -->
                <div class="project-mancave-section-textimg">
                    <div class="project-mancave-content">
                        <h3>Descanso e diversão<br><br></h3>
                        <p>
                            O espaço do bar conta com freezer, enormes poltronas, bancada e tudo para uma cozinha funcional. Tudo isso oferece um espaço para relaxar e socializar, sempre com o carro ao alcance da vista. Momentos de descontração no bar também contam um fliperama, criando um ambiente divertido e acolhedor.
                        </p>
                        <br>
                        <p>
                            Após um dia de trabalho, relaxe no quarto aconchegante projetado para oferecer o máximo de conforto, com grandes janelas. Um espaço para quem está mergulhado e dedicado a dar vida a novos projetos.
                        </p>
                    </div>
                    <div class="project-mancave-image-right">
                        <img src="../assets/images/projects/projects-single/project-mancave/project-mancave-image-04.avif" alt="Projeto Man Cave - Interior Design Project">
                    </div>
                </div>
                <h3 class="project-mancave-textcenter">Olhar direcionado</h3><br>
                <p class="project-mancave-p-textcenter">
                    O galpão confere um charme rústico e robusto, com amplo espaço e estrutura ideal para um ambiente de trabalho e lazer. Equipado com computadores, vista ampla, boa iluminação e ferramentas diversas é um abrigo ideal para a criatividade direta e prática.
                </p>
                <div class="project-mancave-image-triple">
                    <figure class="project-mancave-image"><!-- revisar class -->
                        <img src="../assets/images/projects/projects-single/project-mancave/project-mancave-image-05.avif" alt="Projeto Man Cave - Interior Design Project">
                    </figure>
                    <figure class="project-mancave-image"><!-- revisar class -->
                        <img src="../assets/images/projects/projects-single/project-mancave/project-mancave-image-06.avif" alt="Projeto Man Cave - Interior Design Project">
                    </figure>
                    <figure class="project-mancave-image"><!-- revisar class -->
                        <img src="../assets/images/projects/projects-single/project-mancave/project-mancave-image-07.avif" alt="Projeto Man Cave - Interior Design Project">
                    </figure>
                </div>
            </section>
            <section>
                <div class="project-mancave-section-textimg">
                    <div class="project-mancave-content">
                        <h3>Espaço para sonhar<br><br></h3>
                        <p>
                            Ao mesclar criatividade, espaço, diversão e trabalho, a tradução para este espaço é apenas essa: um espaço para sonhar.
                        </p>
                    </div>
                    <div class="project-mancave-image-right">
                        <img src="../assets/images/projects/projects-single/project-mancave/project-mancave-image-08.avif" alt="Projeto Man Cave - Interior Design Project">
                    </div>
                </div>
            </section>
            <section><!-- carousel-->
                <div class="carousel">
                    <div class="carousel-inner">
                        <div class="slide active">
                            <img src="../assets/images/projects/projects-single/project-mancave/project-mancave-image-09.webp"alt="Descrição da imagem 1">
                        </div>    
                        <div class="slide">
                            <img src="../assets/images/projects/projects-single/project-mancave/project-mancave-image-10.webp"alt="Descrição da imagem 2">
                        </div>
                        <div class="slide">
                            <img src="../assets/images/projects/projects-single/project-mancave/project-mancave-image-11.webp"alt="Descrição da imagem 3">
                        </div>
                        <div class="slide">
                            <img src="../assets/images/projects/projects-single/project-mancave/project-mancave-image-12.webp"alt="Descrição da imagem 4">
                        </div>
                    </div>
                    <button class="carousel-control prev">&#10094;</button>
                    <button class="carousel-control next">&#10095;</button>
                    <div class="carousel-dots">
                        <div class="dot active"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                </div>
            </section>
            <section>
                <h3 class="project-mancave-textcenter">Trabalho para realizar</h3><br>
                <p class="project-mancave-p-textcenter">
                    Com capacidade para dois veículos, a Man Cave oferece um ambiente funcional ideal para cuidar de suas máquinas com todo o espaço e carinho. Pensada para ser completa com ferramentas e equipamentos mecânicos, a oficina é o local certo para realizar manutenções e projetos automotivos dentre outros. A Man Cave é mais do que uma garagem, é um projeto que traduz um estilo de vida.
                </p>
                <div class="project-mancave-image-triple">
                    <figure class="project-mancave-image"><!-- revisar class -->
                        <img src="../assets/images/projects/projects-single/project-mancave/project-mancave-image-13.avif" alt="Projeto Man Cave - Interior Design Project">
                    </figure>
                    <figure class="project-mancave-image"><!-- revisar class -->
                        <img src="../assets/images/projects/projects-single/project-mancave/project-mancave-image-14.avif" alt="Projeto Man Cave - Interior Design Project">
                    </figure>
                    <figure class="project-mancave-image"><!-- revisar class -->
                        <img src="../assets/images/projects/projects-single/project-mancave/project-mancave-image-15.avif" alt="Projeto Man Cave - Interior Design Project">
                    </figure>
                </div>
            </section>


        </main>
        <script src="../scripts/app.js"></script>
        <footer class="footer">
                
            <h2 class="footer-title">Estamos aqui para você</h2>
            <a href="https://wa.me/5531971968699" target="_blank" class="whatsapp-float">
                <img src="../assets/images/whatsapp.svg" alt="WhatsApp Icon" class="whatsapp-icon">
                <span>Fale conosco</span>
            </a>
            <div class="footer-content">
                <div class="contact-info">
                    <h3>Contato</h3>
                    <a href="mailto:atendimento@angra3dstudio.com.br">atendimento@angra3dstudio.com.br</a>
                    <a href="tel:+5531971968699">+55 31 9 7196 8699</a>
                    <div class="copyright">
                        Angra 3D Studio © 2024
                    </div>
                </div>
        
                <div class="social-links">
                    <h3>Nossas redes</h3>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/angra3dstudio" target="_blank" rel="noopener noreferrer"><img src="../assets/images/facebook.svg" alt="Facebook"></a>
                        <a href="https://www.instagram.com/angra3dstudio" target="_blank" rel="noopener noreferrer"><img src="../assets/images/instagram.svg" alt="Instagram"></a>
                        <a href="https://www.linkedin.com/in/angra-3d-studio-62380b30b/" target="_blank" rel="noopener noreferrer"><img src="../assets/images/linkedin.svg" alt="LinkedIn"></a>
                        <a href="https://www.behance.net/angra3dstudio" target="_blank" rel="noopener noreferrer"><img src="../assets/images/behance.svg" alt="Behance"></a>
                        <a href="https://www.artstation.com/angra_3d_studio" target="_blank" rel="noopener noreferrer"><img src="../assets/images/artstation.svg" alt="ArtStation"></a>
                        <a href="https://www.youtube.com/@Angra3DStudio" target="_blank" rel="noopener noreferrer"><img src="../assets/images/youtube.svg" alt="YouTube"></a>
                    </div>
                </div>
            </div>
        </footer>
    </body>    
</html>