body {
    padding-top: 220px;
    width: 100%;
    height: 100%;
    
}

/* Estilo base da seção */
section {
    padding: 3rem 10%;
}


/* Título principal */
.project-mancave-title {
    margin-bottom: 2rem;
    background-color: #2D2926;
}

.project-mancave-title h2 {
    font-size: 3.5rem;
    margin-left: 1rem;
    color: #f2555a;
    text-align: center;
    padding-bottom: 80px; 
    background-color: #2D2926;

}

/*-----------------------------*/

.project-mancave-section-imgtext{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.project-mancave-section-imgtext img {
    width: 50%;
    max-height: 640px;
    object-fit: contain;
}

.project-mancave-content-text-garage{
    flex: 0 1 50%;
    min-width: 288px;
}

.project-mancave-content-text-garage h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #d9d9d6;
    padding-top: 10%;
    margin-bottom: 1rem;
}

.project-mancave-content-text-garage p {
    font-size: 1rem;
    line-height: 1.6;
    color: #d9d9d6;
    text-align: justify;
    padding-bottom: 1.5rem;
}

/* Responsividade para telas menores que 768px */
@media (max-width: 768px) {
    .project-mancave-section-imgtext {
        flex-direction: column;
    }

    .project-mancave-content-text-garage {
        width: 100%;
    }

    .project-mancave-section-imgtext img {
        width: 100%;
        margin-top: 1rem;
    }

    .project-mancave-content-text-garage h3 {
        padding-top: 10px;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .project-mancave-content-text-garage h3 {
        font-size: 0.8rem;

    }

    .project-mancave-content-text-garage p {
        font-size: 0.8rem;
        width: 100%;
    }
    
}

@media (max-width: 320px) {
    .project-mancave-content-text-garage {
        width:100%;
        gap: 0;
        padding: 0 0;
    }
    .project-mancave-content-text-garage h3 {
        font-size: 1rem;
        width: 100%;
    }

    .project-mancave-content-text-garage p {
        font-size: 0.9rem;
        width: 100%;
    }

    .project-mancave-section-imgtext img {
        width: 100%;
        margin-top: 1rem;
        max-height: 300px;
    }
}

/*------------------------------------------------*/

.project-mancave-image-dupla {
    display: flex;
    gap: 20px; /* Espaçamento entre as imagens */
    width: 100%;
}

.project-mancave-image-dupla img {
    width: 50%;
    height: auto; 
    object-fit: cover;
}

/* Media query para telas menores que 768px */
@media screen and (max-width: 768px) {
    .project-mancave-image-dupla {
        flex-direction: column; /* Muda para disposição vertical */
        gap: 15px; /* Ajusta o espaçamento vertical */
    }

    .project-mancave-image-dupla img {
        width: 100%; /* Imagens ocupam toda a largura disponível */
    }
}

/*------------------------------------------------*/

.project-content-rosa{
    background-color: #f2555a;
}

.project-mancave-section-textimg {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.project-mancave-content-text-rest {
    flex: 0 1 50%;
    min-width: 288px;
}

.project-mancave-content-text-rest h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #d9d9d6;
    padding-top: 20%;
    text-align: center;
    margin-bottom: 1rem;
}

.project-mancave-content-text-rest p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #d9d9d6;
    text-align: justify;
    padding-bottom: 2rem;
}

.project-mancave-section-textimg img {
    width: 50%;
    max-height: 600px;
    object-fit: contain;
}

/* Responsividade para telas menores que 768px */
@media (max-width: 768px) {
    .project-mancave-section-textimg {
        flex-direction: column;
    }

    .project-mancave-content-text-rest {
        width: 100%;
    }

    .project-mancave-section-textimg img {
        width: 100%;
        margin-top: 1rem;
    }

    .project-mancave-title h2 {
        font-size: 2rem;
    }

    .project-mancave-content-text-rest h3 {
        padding-top: 10px;
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .project-mancave-title h2 {
        font-size: 1.5rem;
    }

    .project-mancave-content-text-rest h3 {
        font-size: 1.2rem;

    }

    .project-mancave-content-text-rest p {
        font-size: 1rem;
        width: 100%;
    }
    
}

/*-------------------------------------*/

.project-mancave-textcenter {
    text-align: center;
    color: #d9d9d6;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Estilos do parágrafo */
.project-mancave-p-textcenter {
    text-align: center;
    color: #d9d9d6;
    max-width: 480px;
    font-size: 1.1rem;
    margin: 0 auto 40px;
    line-height: 1.6;
}

/* Container das imagens */
.project-mancave-image-triple {
    display: flex;
    gap: 5px;
    width: 100%;
    height: auto;
}

.project-mancave-image-triple img {
    width: calc(33.333% - 5px);
    height: auto;
    object-fit: cover;
}

/* Tablets */
@media screen and (max-width: 1024px) {
    .project-mancave-p-textcenter {
        max-width: 90%;
        padding: 0 20px;
    }

    .project-mancave-image-triple {
        padding: 15px;
        gap: 15px;
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .project-mancave-image-triple {
        flex-direction: column;
        padding: 10px;
        gap: 20px;
    }

    .project-mancave-image-triple img {
        width: 100%;
    }
}

/* Smartphones */
@media screen and (max-width: 480px) {
    .project-mancave-textcenter {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .project-mancave-p-textcenter {
        font-size: 0.9rem;
        padding: 0 15px;
        margin-bottom: 30px;
    }

    .project-mancave-image-triple {
        padding: 8px;
        gap: 15px;
    }
}

/* Smartphones pequenos */
@media screen and (max-width: 320px) {
    .project-mancave-textcenter {
        font-size: 1.3rem;
    }

    .project-mancave-p-textcenter {
        font-size: 0.85rem;
        padding: 0 10px;
    }

    .project-mancave-image-triple {
        padding: 5px;
        gap: 10px;
    }
}

/*-----------------------------------*/

.project-mancave-section-textimg-dream {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.project-mancave-content-text-dream {
    flex: 0 1 50%;
    min-width: 288px;
}

.project-mancave-content-text-dream h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #d9d9d6;
    padding-top: 10%;
    text-align: center;
    margin-bottom: 1rem;
}

.project-mancave-content-text-dream p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #d9d9d6;
    text-align: justify;
    padding-bottom: 2rem;
}

.project-mancave-section-textimg-dream img {
    width: 50%;
    max-height: 600px;
    object-fit: contain;
}

/* Responsividade para telas menores que 768px */
@media (max-width: 768px) {
    .project-mancave-section-textimg-dream {
        flex-direction: column;
    }

    .project-mancave-content-text-dream {
        width: 100%;
    }

    .project-mancave-section-textimg-dream img {
        width: 100%;
        margin-top: 1rem;
    }

    .project-mancave-content-text-dream h3 {
        padding-top: 10px;
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {

    .project-mancave-content-text-dream h3 {
        font-size: 1.2rem;

    }

    .project-mancave-content-text-dream p {
        font-size: 1rem;
        width: 100%;
    }
    
}

/*--------------------------*/